# PERKENALAN

##### =================================================
##### Non Graded Challenge 5

##### Nama  : Nailina Farah
##### Batch : RMT-028

##### Program ini dibuat untuk membuat 2 tabel yaitu Customers dan Orders serta mengambil jumlah total pesanaan yang dibuat.
###### =================================================

# ANSWER

In [ ]:
-- Customers Table
CREATE TABLE Customers (
	customer_id INT PRIMARY KEY,
	customer_name VARCHAR,
	city VARCHAR
);

-- Orders Table
CREATE TABLE Orders (
	order_id INT PRIMARY KEY,
	customer_id INT,
	order_date DATE,
	total_amount DECIMAL (5, 2),
	FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
);

-- Insert Data ke dalam tabel Customers
INSERT INTO Customers (customer_id, customer_name, city)
VALUES 
	(1, 'John Doe', 'New York'),
	(2, 'Jane Smith', 'Los Angeles'),
	(3, 'David Johnson', 'Chicago');
	
-- Insert Data ke dalam tabel Orders
INSERT INTO Orders (order_id, customer_id, order_date, total_amount)
VALUES 
	(1, 1, '2022-01-10', '100.00'),
	(2, 1, '2022-02-15', '150.00'),
	(3, 2, '2022-03-20', '200.00'),
	(4, 3, '2022-04-25', '50.00');
	
-- Mengambil jumlah total pesanan yang dibuat setiap customer dengan nama pelanggan
SELECT
	Customers.customer_name,
	COUNT(Orders.order_id) AS total_orders
FROM Customers
LEFT JOIN Orders ON Customers.customer_id = Orders.customer_id
GROUP BY Customers.customer_id, Customers.customer_name
ORDER BY total_orders DESC;